*.[oa]
*~
*.map
*.order
*.txt
*.symvers
*.mod
*.cmd
cscope*
tags
vmlinux
[zu]Image
Image
.tmp*
*.swp
*.gz
*.txt
.svn
*.ko
*.elf
modules.builtin
piggy.gzip 
.config
.config.old
.missing-syscalls.d
.version
include/config/
include/generated/
kernel/bounds.s
usr/.initramfs_data.cpio.d
arch/*/include/generated/
arch/*/kernel/asm-offsets.s
